<div class="bg-gradient-primary" style="background: linear-gradient(#123448, #000000);font-family: Lato, sans-serif;">
    <div class="container" style="color: var(--bs-red);">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <app-header></app-header>
                        <form>
                            <div class="row" style="margin-left: 16px;margin-right: 16px;margin-top: 0px;margin-bottom: 64px;">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Please enter Vendor-ID</p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter Vendor-ID...">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 16px;margin-right: 16px;margin-top: 0px;margin-bottom: 64px;">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Title</p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter Title...">
                                        <div class="mb-3">
                                            <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Subtitle</p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter Subtitle...">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Studio Release Title</p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter Studio Release Title...">
                                        <div class="mb-3">
                                            <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Studio Release Subtitle</p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter Enter Studio Release Subtitle......">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 16px;margin-right: 16px;margin-top: 0px;margin-bottom: 64px;">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Production Company</p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter Production Company...">
                                    </div>
                                    <div style="margin-bottom: 16px;">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Origin Country</p>
                                        <div class="dropdown"><button class="btn btn-outline-dark btn-lg dropdown-toggle border rounded-pill" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="min-width: 100%;height: 48px;padding-top: 0px;padding-right: 16px;padding-bottom: 0px;padding-left: 16px;">Select origin country</button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">Germany</a><a class="dropdown-item" href="#">United Kingdom</a><a class="dropdown-item" href="#">United States</a></div>
                                        </div>
                                    </div>
                                    <div style="margin-bottom: 16px;">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Original spoken Locale</p>
                                        <div class="dropdown"><button class="btn btn-outline-dark btn-lg dropdown-toggle border rounded-pill" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="min-width: 100%;height: 48px;padding-top: 0px;padding-right: 16px;padding-bottom: 0px;padding-left: 16px;">Select original spoken language</button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">DE - German</a><a class="dropdown-item" href="#">EN - English</a><a class="dropdown-item" href="#">FR - French</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Synopsis</p><textarea class="border rounded form-control form-control-lg" style="min-width: 100%;height: 48px;padding-top: 0px;padding-right: 16px;padding-bottom: 0px;padding-left: 16px;min-height: 224px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 16px;margin-right: 16px;margin-top: 0px;margin-bottom: 64px;">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Copyright Cline (Store Country Region)<br></p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter copyright info for the destination country...">
                                    </div>
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Theatrical Release Date (Store Country Region)<br></p><input class="border rounded-pill form-control" type="date" style="min-height: 48px;">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Copyright Cline (Original)<br></p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter original copyright info...">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 16px;margin-right: 16px;margin-top: 0px;margin-bottom: 64px;">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Genre 1<br></p>
                                        <div class="dropdown"><button class="btn btn-outline-dark btn-lg dropdown-toggle border rounded-pill" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="min-width: 100%;height: 48px;padding-top: 0px;padding-right: 16px;padding-bottom: 0px;padding-left: 16px;">Select Genre 1</button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">Adventure</a><a class="dropdown-item" href="#">Drama</a><a class="dropdown-item" href="#">Family</a><a class="dropdown-item" href="#">Independent</a></div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Genre 2<br></p>
                                        <div class="dropdown"><button class="btn btn-outline-dark btn-lg dropdown-toggle border rounded-pill" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="min-width: 100%;height: 48px;padding-top: 0px;padding-right: 16px;padding-bottom: 0px;padding-left: 16px;">Select Genre 2</button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">Adventure</a><a class="dropdown-item" href="#">Drama</a><a class="dropdown-item" href="#">Family</a><a class="dropdown-item" href="#">Independent</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Genre 3<br></p>
                                        <div class="dropdown"><button class="btn btn-outline-dark btn-lg dropdown-toggle border rounded-pill" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="min-width: 100%;height: 48px;padding-top: 0px;padding-right: 16px;padding-bottom: 0px;padding-left: 16px;">Select Genre 3</button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">Adventure</a><a class="dropdown-item" href="#">Drama</a><a class="dropdown-item" href="#">Family</a><a class="dropdown-item" href="#">Independent</a></div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Genre 4<br></p>
                                        <div class="dropdown"><button class="btn btn-outline-dark btn-lg dropdown-toggle border rounded-pill" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="min-width: 100%;height: 48px;padding-top: 0px;padding-right: 16px;padding-bottom: 0px;padding-left: 16px;">Select Genre 4</button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">Adventure</a><a class="dropdown-item" href="#">Drama</a><a class="dropdown-item" href="#">Family</a><a class="dropdown-item" href="#">Independent</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 16px;margin-right: 16px;margin-top: 0px;margin-bottom: 64px;">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Cast 1<br></p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter first cast members name...">
                                    </div>
                                </div>
                                <div class="col-lg-6" style="margin-bottom: 16px;">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Character Name 1<br></p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter his character name...">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Cast 2<br></p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter second cast members name...">
                                    </div>
                                </div>
                                <div class="col-lg-6" style="margin-bottom: 16px;">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Character Name 2<br></p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter his character name...">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Cast 3<br></p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter third cast members name...">
                                    </div>
                                </div>
                                <div class="col-lg-6" style="margin-bottom: 16px;">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Character Name 3<br></p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter his character name...">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Cast 4<br></p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter fourth cast members name...">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Character Name 4<br></p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter his character name...">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 16px;margin-right: 16px;margin-top: 0px;margin-bottom: 64px;">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Crew 1<br></p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter first crew members name...">
                                    </div>
                                </div>
                                <div class="col-lg-6" style="margin-bottom: 16px;">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Crew&nbsp; Role&nbsp;1<br></p>
                                        <div class="dropdown"><button class="btn btn-outline-dark btn-lg dropdown-toggle border rounded-pill" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="min-width: 100%;height: 48px;padding-top: 0px;padding-right: 16px;padding-bottom: 0px;padding-left: 16px;">Select Role 1</button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">Director</a><a class="dropdown-item" href="#">Writer</a><a class="dropdown-item" href="#">Producer</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Crew&nbsp;2<br></p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter second crew members name...">
                                    </div>
                                </div>
                                <div class="col-lg-6" style="margin-bottom: 16px;">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Crew&nbsp; Role 2<br></p>
                                        <div class="dropdown"><button class="btn btn-outline-dark btn-lg dropdown-toggle border rounded-pill" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="min-width: 100%;height: 48px;padding-top: 0px;padding-right: 16px;padding-bottom: 0px;padding-left: 16px;">Select Role 2</button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">Director</a><a class="dropdown-item" href="#">Writer</a><a class="dropdown-item" href="#">Producer</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Crew&nbsp;3<br></p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter third crew members name...">
                                    </div>
                                </div>
                                <div class="col-lg-6" style="margin-bottom: 16px;">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Crew&nbsp; Role 3<br></p>
                                        <div class="dropdown"><button class="btn btn-outline-dark btn-lg dropdown-toggle border rounded-pill" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="min-width: 100%;height: 48px;padding-top: 0px;padding-right: 16px;padding-bottom: 0px;padding-left: 16px;">Select Role 3</button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">Director</a><a class="dropdown-item" href="#">Writer</a><a class="dropdown-item" href="#">Producer</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Crew&nbsp;4<br></p><input class="form-control" type="text" style="border-radius: 160px;min-width: 100%;height: 48px;padding-top: 0px;padding-bottom: 0px;padding-right: 16px;padding-left: 16px;" name="name" placeholder="Enter fourth crew members name...">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Crew&nbsp; Role&nbsp;&nbsp;4<br></p>
                                        <div class="dropdown"><button class="btn btn-outline-dark btn-lg dropdown-toggle border rounded-pill" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="min-width: 100%;height: 48px;padding-top: 0px;padding-right: 16px;padding-bottom: 0px;padding-left: 16px;">Select Role 4</button>
                                            <div class="dropdown-menu"><a class="dropdown-item" href="#">Director</a><a class="dropdown-item" href="#">Writer</a><a class="dropdown-item" href="#">Producer</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 16px;margin-right: 16px;margin-top: 0px;margin-bottom: 64px;">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label text-dark" for="formCheck-1">Cleared SD for sale</label></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label text-dark" for="formCheck-2">Cleared HD for sale</label></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3"></div>
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">Sales Start Date<br></p><input class="border rounded-pill form-control" type="date" style="min-height: 48px;">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 16px;margin-right: 16px;margin-top: 0px;margin-bottom: 64px;">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label text-dark" for="formCheck-5">Cleared SD for VoD</label></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-6"><label class="form-check-label text-dark" for="formCheck-6">Cleared HD for VoD</label></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3"></div>
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">VoD Start Date<br></p><input class="border rounded-pill form-control" type="date" style="min-height: 48px;">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3"></div>
                                    <div class="mb-3">
                                        <p class="text-center text-dark" style="margin: 0px;margin-bottom: 0px;">VoD Stop Date<br></p><input class="border rounded-pill form-control" type="date" style="min-height: 48px;">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-right: 16px;margin-left: 16px;margin-top: 0px;margin-bottom: 64px;">
                                <div class="col">
                                    <div><button class="btn btn-outline-primary btn-lg border rounded-pill d-block btn-user w-100" data-bss-hover-animate="pulse" type="submit" style="min-width: 100%;height: 48px;padding-top: 0px;padding-right: 16px;padding-bottom: 0px;padding-left: 16px;">Check Entries / Create Metadata Download</button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</div>
